BasedOnStyle: LLVM
IndentWidth: 2
Language: Cpp

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
PointerAlignment: Left
